
body{
margin:0;
font-family:Arial;
background:#ececec;
text-align:center;
}

.wrap{
display:flex;
justify-content:center;
margin-top:40px;
}

.date{
background:#8d1d1d;
color:white;
width:120px;
padding:10px;
}

#d{font-size:40px;font-weight:bold}
#m{background:#0c3c88;margin:10px 0;padding:5px}
#y{background:#f1c40f;color:black;padding:5px}

.card{
background:#f3b300;
margin-left:10px;
padding:20px;
width:260px;
box-shadow:0 0 12px rgba(0,0,0,.2);
}

.price{
font-size:34px;
font-weight:bold;
margin-top:10px;
}

.time{
margin-top:20px;
font-weight:bold;
}
